<div class="container">
    <h2>Personas/</h2>
    <p>persona works!</p>
    <button (click)="Listar()" class="btn btn-info">Listar</button>
    <button (click)="Nuevo()" class="btn btn-info" style="margin-left: 10px;">Nuevo</button>
</div>
